@import"components/css_reset";
@import"components/index";
@import"components/product";
@import"components/size";
@import"components/cardpage";
@import"components/thank";
@import"components/user";

.wrap{
 max-width: 1920px;
 margin: 0 auto;
 @include phone-size{
	 width: 100%;
 }
}

.title-logo{
	margin: 26px 0px 0 60px;
	//margin-right:5%;
    width: 258px;
	height: 48px;
	@include web-size {
	width: 200px;
	margin-right:10px;
	
	}
	@include  tab-size-m{
		margin-left:20px; 
	}

@include tab-size-s{
	display: none;
}
	
}
.title-logo-phone{
	display:none;

	@include tab-size-s {
		display: block;
		padding-top:4.5%;
		width: 100%;
		text-align: center;
		position: relative;
	}

	@include phone-size{
	display: block;
	padding-top:11%;
	width: 100%;
	text-align: center;
	position: relative;	
	}
	.search-btn{
		position: absolute;
		top:40%;
	}
	.search-btn-site{
	top:0;
}

}
.title-logo-small{
	@include tab-size-s{
		padding-bottom: 1%;
		display:inline-block;
		width: 160px;		
		}


	
}

.title{
	background:#fff;
	height: 100px;
	border-bottom: 40px solid #313538;

	&::after{
		content: "";
		clear:both;
	}
	@include tab-size-s{
		height: 76px;
		border-bottom: 50px solid #313538 ;	
	}
	@include phone-size{
		height: 76px;
		border-bottom: 50px solid #313538 ;	
	}
}
.title-left{
	float: left;
	@include tab-size-s{
		float: none;
		margin: 0 auto;
		   }
	@include phone-size{
		float: none;
		margin: 0 auto;
		   }
}
.search-bar-close{
	display:none;
}

.search-bar-open{
	display:block;
}


.title-list{
	
	@include tab-size-s{
		width: 100%;
        padding-top:2.5%;   
		   }
	@include tab-size-xs{
		width: 100%;
		padding-top:5%;   
			}

	@include phone-size{
		width: 100%;
        padding-top:5%;   
		   }
	float: right;
	li{
		font-size: 20px;
		padding-top:44px;
		float:left;
		font-family: PingFangTC,Microsoft JhengHei;
		@include tab-size-s{
			width: 33%;
			padding-top: 0;	
			   }

		@include phone-size{
			width: 33%;
			padding-top: 0;	
			   }
	}
	a{
		display: block;
		padding-left:34px; 
		text-decoration: none;
		letter-spacing:30px;
		color: #3f3a3a;
		&:hover{
		color: #8b572a;	
		}
		@include web-size{
			padding-left:15px; 
			letter-spacing:15px;
		}
		@include tab-size-s{
			padding-left:0; 
			color: #f5f5f5;
			letter-spacing:0px;
			text-align: center;
		   }
		@include phone-size{
			padding-left:0; 
			color: #f5f5f5;
			letter-spacing:0px;
			text-align: center;
		   }

	}

}


.Women-clothing,.Men-clothing{
	border-right:1px solid #3f3a3a;
	@include tab-size-s{
		border-right:1px solid#828282;	
		   }
	@include phone-size{
		border-right:1px solid#828282;	
		   }
}
.title-right{
	float:right;
	li{
	float: left;
    padding: 30px 21px 0px 21px;
	@include web-size{
		padding-right:10px;
		padding-left:5px;	
		   }
	 @include tab-size{
			padding-right:0px;
			padding-left:0px;	
			   }	   

	}
	@include tab-size-s{
		display: none;
	}
	@include phone-size{
		display:none;
		   }

}

.cart-icon,.member-icon{
	@include tab-size{
		display: none;
	}
}


.shopping-bar{

   bottom: 0;
	display: none;
	@include tab-size{
		display: block;
		position: relative;
		z-index: 1;

	}
	@include tab-size-s{
		display: block;
		position: relative;
		z-index: 1;
		
		}
	
	ul{
    position: fixed;
	display: flex;
	bottom: 0;
	align-items:center;
	height: 60px;
	width: 100%;
	background: #313538;
	}
	
	li{

		color: #fff;
	}
	img{
		line-height: 60px;
		width: 30px;
		height: 30px;
	}
	a{
		display: flex;
		justify-content:center;
		align-items:center;
		text-decoration:none;
		color: #fff; 
		background: #313538;
		width: 100%;
		height: 60px;	
		
	}
	
}
.cart-mobile-icon,.member-mobile-icon{
	width: 49%;
}
.shopping-bar-border{
width: 2%;
}
.search-bar{
	position: relative;
	input{
	box-sizing: border-box;
	padding:0 60px 0 20px;
	width: 214px;
	height: 40px;
	border-radius: 40px;
	border: solid 1px #c7b4b4;
	@include tab-size-m{
		
	}
	@include tab-size{
		width: 60%;
		position: relative;
	}
	@include tab-size-m{
		width: 70%;
	}
	@include tab-size-s{
		width: 50%;
	}
	}
	
	
}
.search-btn{
	position: absolute;
	top:0;
	right:13.5px;
	@include tab-size{
		
		position: absolute;
	}
	
	

}
.cart-list-conut{
text-align: center;
line-height: 35px;
}

.cart-icon{
	position: relative;
	z-index: 10;
	div{
		position: absolute;
		
	}

}


.cart-mobile-icon{
	position: relative;
	div{
	position: absolute;
	}
}
.cart-total-hide{
	display: block;
}

.cart-total-show{
	display: block;
}

.cart-total{
	background: rgb(146, 68, 68);
	height: 35px;
	width: 35px;
	top:30%;
	right:-20%;
	border-radius: 50%;
	opacity: 0.8;
	color: #fff;
	
}
.cart-total-mobile{
	background: rgb(146, 68, 68);
	height: 35px;
	width: 35px;
	top:30%;
	right:60%;
	border-radius: 50%;
	opacity: 0.8;
	color: #fff;
	
}

.footer{
	background: #313538;
	height: 115px;
	@include tab-size-s{
		height: 200px;
	}
}
.footer-width{
	max-width: 1200px;
	margin: 0 auto;
	@include phone-size{
		
	}
.footer-text-phone{	
	p{
	font-family: PingFangTC,Microsoft JhengHei;	
	display:none; 
	@include tab-size{
	display: block;	
	text-align: center;
	color:	#828282;
	padding-top:3%;
    font-size: 10px;
	}
	 @include phone-size{
		padding-top: 0;
		
		
		
			}
	}
	}


}
.footer-list{
	@include tab-size{
		padding-top:2%;
	}
   @include phone-size{

	width:65%;
	height:86px ;
	padding-top:6%;	
		}
}

.footer-list-left{
	@include tab-size{
	float: left;
	width: 100px;
	margin-right: 10%;
			}
}


.footer-content{	
&::after{
	content:"";
	clear: both;
}
@include tab-size{	
padding-left: 10%;
	}
li{
	float: left;
	margin-top:46px;
	padding-right:2%; 
	padding-left: 2%;
	border-right:1px solid #828282; 
	@include tab-size{
		float: none;
		margin:8px 0 4px 0;	

		border-right:0px solid #828282;
			}

}

a{
color: #f5f5f5;
font-family: PingFangTC,Microsoft JhengHei;	
text-decoration: none;
&:hover{
	color:#c49871;	
	}

}


}



.footer-logo{

float: right;
padding-top: 33px;
@include tab-size{
	padding-top:0;
	width: 100%;
	margin-top:-50px;
	padding-right:10%; 
			}
			
li{
	float: left;
	padding-right:30px;
	@include web-size{
		padding-right:20px;
		}
	@include tab-size{
	float:right;
	padding-right:0;
	padding-left: 3%;
				}
	 
}
img{
	width: 50px;
	height: 50px;
	@include web-size{
		width: 30px;
		height: 30px;
	}
	@include tab-size{
	width: 20px;
	height: 20px;
			}
}
p{
	color:	#828282;
line-height: 50px;
	@include tab-size{
display: none;
				}
}

}


