li{
    list-style-type:none;  
  }

.shoppingcart-content{

    margin: 0 auto;
    padding:5% 0;
    max-width: 960px;
    @include tab-size{
        padding-right: 3%;
        padding-left:3%; 
    }
    @include phone-size{
        padding-right: 6%;
        padding-left:6%; 
    }
 
}

.Breadcrumbs{
    
    //background-color:gainsboro;
    width: 100%;
    @include tab-size-xs{
        display: none;
    }
}



.shoopingcart-list-form{
    padding-top:3%;
}

.shoopingcart-list{
    width: 100%;
   
    padding-top:5.5% ;
@include tab-size-xs{
    padding-top: 0;
}
     display: flex;
    span{
        width: 60%;
        @include tab-size-xs{
            padding-bottom:2%;
          
        }
    }
    ul{
        width: 60%;
        
        li{
            width: 25%;
            text-align: center;
        }
    }
}
.shoopingcart-list-title{
     width: 80%;
     margin-bottom: 2%;
     display: flex;
@include tab-size-xs{
    display: none;
}
}

//=========================================================

.shoopingcart-list-content-top{
    border: 1px solid  #979797 ;
    @include tab-size-xs{
        border:0;
    }
}

.shoopingcart-list-card{
    justify-content:space-between;
    width: 100%;
    @include tab-size-xs{
        border-top:1px solid; 
        border-bottom:1px solid;
    }
}

.shoopingcart-list-card-left{
    margin:2%; 
    display: flex;
    width: 54%;
    @include tab-size-xs{
        width: 100%;
        
    }

 ul{
    margin-left:3%;
 }   
   li{
    width: 100%;
    padding-bottom:8%; 
    line-height: 25px;  
   } 

}
.shoopingcart-list-card-right{
    display: flex;
    width: 60%;
    align-items: center;
    @include tab-size-xs{
        width: 100%;
        justify-content: center;
        padding-bottom: 3%;
    }
  
    div{
        width: 30%;
        text-align: center;
    }
    input{
        box-sizing: border-box;
        padding-left: 10%;
        width:80px ;
        border-radius: 8px;
        border: solid 1px #979797;
        background-color: #f3f3f3;
        height: 30px;

    }
}
.shoopingcart-list-title-mobile{
    display: none;
    @include tab-size-xs{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        li{
            width: 30%;
            padding-bottom: 3%;
        }
    }
   
}



.shoopingcart-commodity-img{
    display: block;
    width: 114px;
    height: 151px;
    background: gray;
}

.shoopingcart-list-card{
    display: flex;
    @include tab-size-xs{
        display: block;
    }
}
.trash-can{
//padding-left:5%;
cursor: pointer;
text-align: center;
@include tab-size-xs{
    display: none;
}
}
.trash-can-mobile{
    display: none;
    @include tab-size-xs{
        cursor: pointer;
        margin-left: auto;
        display: block;
    }
}

//==========================================================
 

.shoopingcart-list-content-center{
    margin-top: 3%;
   // padding:5% 0;
    //background:gray;
    width: 100%;
}

.shoopingcart-list-ship{
    
    background-color: #e8e8e8;
    padding: 2.5% 0;
    width: 100%;
    display: flex;
    @include tab-size-xs{
        display: block;
        margin-top:5%; 
    }
   
    div{
        margin-left: 2%;
        display: flex;
        align-items: center;
        width: 38%;
        @include tab-size-xs{
            width: 100%;
            display: block;
        }
    }
    select{
        width: 171px;
        height: 30px;
        border-radius: 8px;
        border: solid 1px #979797;
        background-color: #f3f3f3;
        @include tab-size-xs{
            width: 98%;
        }
    }

   
   
}
.list-ship-title{
    font-family: PingFangTC,Microsoft JhengHei;
    @include tab-size-xs{
        width: 100%;
    }
    li{
      padding-right: 5%;  
      width: 20%; 
      @include tab-size-xs{
        padding-top:1%;
        padding-bottom:1%;
          width: 96%;
      }
    
    }
   
}
.list-ship-pay{
    li{
        padding-right: 5%;  
        width: 20%; 
        @include tab-size-xs{
            padding-top:1%;
            padding-bottom:1%;
            padding-right: 0;
            width: 96%;
        }
      }
}

.shoopingcart-list-text{
    margin-top:2%;
    margin-bottom:5%;
    color: #3f3a3a;
    line-height: 26px;
}

.list-form-time{
    display: flex;
    @include tab-size-xs{
        display: block;
    }
    margin-top: 1%;
    align-items: center;
    @include tab-size-xs{
        width: 100%;
    }
    div{
    margin-top:1%;
    margin-bottom:2%;
    }
  
}
.list-form-time-title{
    width: 10%;
    @include tab-size-xs{
        width: 100%;
    }
}
.list-form-time-choes{
 display: flex;
 width: 80%;
 padding-left: 5%;
}
.list-form-content-input{
    font-family: PingFangTC,Microsoft JhengHei;
    @include tab-size-xs{
        display: block;
        width: 100%;
        padding-bottom:1%;
    }
    width: 60%;
    margin-top:2%; 
    display: flex;
    // div{
    //     width: 30%;
    // }
    h5{
        width: 25%;
    }
    input{
        width: 100%;
      //  width: 574px;
        padding-left: 1%;
        height: 30px;
        border-radius: 8px;
        border: solid 1px #979797;
        background-color: #ffffff;
        
    }
}
.shoopingcart-list-form{
    width: 100%;
}
.totalcart-btn{
    padding: 6% 5% 6% 5%;
    background: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    @include tab-size-xs{
        display: none;
    }
}

.totalcart-btn-mobile{
    padding: 6% 5% 6% 5%;
    background: #000;
    color: #fff;
    text-align: center;
    display: none;
    cursor: pointer;
    @include tab-size-xs{
        display: block;
        padding: 1.5% 5% 1.5% 5%;
    }
}

.list-form-title{
    font-family: PingFangTC,Microsoft JhengHei;
    color: #3f3a3a;
    padding-bottom:1.5%; 
    border-bottom: 1px solid ;
    
}
.list-form-name-wrong{
    font-family: PingFangTC,Microsoft JhengHei;
    width: 60%;
    color:#8b572a;
    @include tab-size-xs{
        width: 100%;
        text-align: start;
    }
    margin-top:1%; 
    text-align: end;
}

//===============================================
.shoopingcart-list-content-bottom{
    display: flex;
  justify-content: flex-end;
}
.shoopingcart-list-totalcart{
    margin-top:5%; 
    margin-bottom:50%; 
    width: 240px;
    height: 240px;
    @include tab-size-xs{
    margin-bottom:0%; 
    height: auto;;   
    }
    
    ul{
        height: 80%;
        padding-right: 2%;
        
        li{
         display: flex;
         padding-bottom: 10%;  
         align-items: center;

        }

    .list-totalcart-money{
        font-family: PingFangTC,Microsoft JhengHei;
        font-size: 30px;
        text-align: right;
        color: #3f3a3a;
        padding-left: 3%;
    }    
      
    .list-totalcart-title{
        font-family: PingFangTC,Microsoft JhengHei;
        font-size: 16px;
        margin-right:auto; 
        text-align: left;
        color: #3f3a3a;
    }
    .title-bottom{
        border-bottom:1px solid;
    }
    .pay-total{
        padding-top:5%;
        
    }
    }
}
.list-form-address{
    @include tab-size-xs{
       padding-bottom:1%;
    }
}
.list-form-phone{
    @include tab-size-xs{
        padding-bottom:1%;
    }
}

.list-form-name{
    @include tab-size-xs{
        padding-bottom:1%;
    }
}

//tappay ======================================


.tpfield {
    height: 40px;
    border: 1px solid gray;
    margin: 5px 0;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: solid 1px #979797;
    background-color: #ffffff;
    padding-left: 1%;


}
