@mixin web-size {
    @media (max-width: 1200px) {
      @content;
    }
  }
  
  @mixin tab-size {
    @media (max-width: 875px) {
      @content;
    }
  }
  @mixin tab-size-m {
    @media (max-width: 807px) {
      @content;
    }
  }


  @mixin tab-size-s {
    @media (max-width: 780px) {
      @content;
    }
  }

  @mixin tab-size-xs {
    @media (max-width: 620px) {
      @content;
    }
  }

  
  @mixin phone-size {
    @media (max-width: 375px) {
      @content;
    }
  }




.userpage-content{
    //padding:3%;
    background-image: url(../img/login_bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 600px;

    
}

.userCard{
    margin: 0 auto;
    padding: 5%;
    //border:1px solid;
    width: 35%;
    height:100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    @include tab-size{
        width: 60%;
    }
    @include tab-size-xs{
      width: 70%;
      padding-left: 0;
      padding-right: 0;
    }
   
}
.userPic{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: #000;
    @include tab-size{
        width: 130px;
        height: 130px;
    }
    @include  tab-size-xs{
      width: 80px;
      height: 80px;
    }
}
.fbBtn{
    margin-top:5%;
}
.user-content{
    display: flex;
    align-items: center;
    @include tab-size-s{
      display: block;
    
    }
}
.userCard-right{
    width:50%;
   margin-left:10%;

 
}
.userName{
    font-family: PingFangTC,Microsoft JhengHei;
    //font-size: 1.5rem;
}
.userMail{
    font-family: PingFangTC,Microsoft JhengHei;
    font-size: 1.5rem;
}
.userNone{
    display: none;
}
